################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/wd-pod-svc/FileContentIndex/e94c64c4-0d84-419e-a321-80915d300d71.vsidx
/.vs/wd-pod-svc/FileContentIndex/07825399-82f6-423c-aecd-d0c32b74c25c.vsidx
