################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/wd-pod-svc/FileContentIndex/e94c64c4-0d84-419e-a321-80915d300d71.vsidx
