################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/wd-pod-svc/FileContentIndex/e94c64c4-0d84-419e-a321-80915d300d71.vsidx
/.vs/wd-pod-svc/FileContentIndex/07825399-82f6-423c-aecd-d0c32b74c25c.vsidx
/.vs/wd-pod-svc/FileContentIndex/a6d45b0d-1c54-4c6c-b865-0dc29cddddca.vsidx
/.vs/wd-pod-svc/CopilotIndices/17.14.1091.29919/CodeChunks.db
/.vs/wd-pod-svc/FileContentIndex/d02b0a97-6e93-4c3e-9e71-18bcec0bf63d.vsidx
/.vs/wd-pod-svc/FileContentIndex/739d1fce-cd53-4607-8c89-6aee86b14833.vsidx
/.vs/wd-pod-svc/FileContentIndex/02070d65-7ef1-44d0-a024-30c027bab54c.vsidx
/.vs/wd-pod-svc/FileContentIndex/3502ba77-3ae8-431a-9d82-f71ad1404b90.vsidx
*.vsidx
/.vs/VSWorkspaceState.json
